$header-offset: 153px;

$trans: .2s ease-in-out;

$navbar-height: 3rem;

$footer-padding: 3rem 1.5rem;

$navbar-breakpoint: 0;

$link: #416a7d;

$family-sans-serif: 'Noto Sans', sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: 'Oswald', sans-serif;